@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

/* ----------------root colors---------------------- */

:root {
    --lightBlue: #00FFFF;
    --BackColorDF: #0E161F;
    --colorFontDF: #b6b6b6;
}

/* ------------------------------------------------- */

@media only screen and (min-width: 1401px) {}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 670px) {}

.cardCompetencia {
    background-color: #fff;
    border-radius: 20px;
    width: 250px;
    height: 25px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    box-shadow: 5px 5px 0px var(--lightBlue);
    z-index: 1;
    transition: 1s;
}

.cardCompetencia:hover {
    border-radius: 30px;
    box-shadow: 10px 10px 0px var(--lightBlue);
    transition: 1s;
}


.cardCompetencia p {
    color: #000;
    z-index: 2;
}